@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.is-hidden {
  display: none;
}
