 :root {
     --accent-color: #9bb537;
     --bcg-body-color: #f8f8f8;
     --sec-text-color: #f8f8f8;

     --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }


 /*.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }
 */

 .favorites-hero {
     display: flex;
     justify-content: center;
     padding-bottom: 35px;
 }

 .favorites-hero-img {
     width: 310px;
     height: 516px;
 }

 .favorites-error {
     display: flex;
     flex-direction: column;
     justify-content: center;
     position: relative;
 }

 .favorites-error-js {
     margin-top: 260px;
 }

 .favorites-error-icon {
     margin: auto;

     margin-bottom: 24px;
 }

 .favorites-error-text {
     margin: auto;
     text-align: center;
     font-size: 14px;
     font-weight: 400;
 }

 .favorites-categories {
     display: flex;
     flex-wrap: wrap;
     gap: 12px;
     margin-bottom: 24px;
 }

 .favorites-btn {
     border-radius: 15px;
     font-size: 14px;
     color: rgba(5, 5, 5, 0.3);
     font-family: Inter, sans-serif;
     font-style: normal;
     font-weight: 500;
     line-height: 1.28;
     padding: 14px 18px;
     background-color: var(--bcg-body-color);
     border: 1px solid rgba(5, 5, 5, 0.2);
     outline: none;
     cursor: pointer;

     transition: color var(--transition-dur-and-func),
         background-color var(--transition-dur-and-func),
         border-color var(--transition-dur-and-func);
 }

 .favorites-btn:is(:hover, :focus) {
     background-color: var(--accent-color);
     color: var(--sec-text-color);
     border-color: var(--accent-color);
 }


 @media screen and (min-width: 375px) {
     .favorites-hero {
         padding-bottom: 40px;
     }

     .favorites-hero-img {
         width: 335px;
     }
 }

 @media screen and (min-width: 768px) {
     .favorites-hero {
         padding-bottom: 64px;
     }

     .favorites-hero-img {
         width: 704px;
         height: 356px;
     }

     .favorites-error-icon {
         margin-bottom: 32px;
         width: 97px;
         height: 83px;
     }

     .favorites-error-text {
         width: 481px;
         font-size: 16px;
     }

     .favorites-categories {
         gap: 15px;
         margin-bottom: 32px;
     }

     .favorites-btn {
         font-size: 16px;
         line-height: 1.25;
     }

 }

 @media screen and (min-width: 1200px) {
     .favorites-hero-img {
         width: 996px;
     }
 }