.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hiden {
  display: none;
}

.active-heart {
  fill: var(--white);
}

.not-active-heart {
  fill: #0000;
}

.recipes-list-see-recipe-btn {
  z-index: 1000;
}

.container-fav {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.recipes-list {
  display: flex;
  white-space: nowrap;
  margin-left: 0px;
  gap: 12px;
}
.rating-wraper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.recipes-list-wraper .recipes-list-see-recipe-btn {
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: #9bb537;
  color: #f8f8f8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 375px) {
  .container-fav {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container-fav {
    max-width: 768px;
    padding: 0 32px;
  }
  .favorites-list {
    gap: 16px;
    margin-bottom: 64px;
    margin-top: 32px;
  }

  .fav-recipes {
    width: 224px;
  }
}

@media screen and (min-width: 1200px) {
  .container-fav {
    max-width: 1080px;
    padding: 0;
  }
}

.favorites-hero {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
  padding-top: 40px;
}

.favorites-hero-img {
  width: 310px;
  height: 516px;
  border-radius: 0px;
  color: var(--black-05);
  border-radius: 17px;
}

.favorites-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.favorites-error-js {
  margin-top: 260px;
}

.favorites-error-icon {
  margin: auto;

  margin-bottom: 24px;
}

.favorites-error-text {
  margin: auto;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.favorites-categories {
  display: flex;
  white-space: nowrap;
  margin-left: 0px;
  gap: 12px;
}

.js-div-button {
  display: flex;
  gap: 12px;
}

.favorites-btn {
  /* display: inline-block; */
  margin-top: 1px;
  border-radius: 15px;
  font-size: 14px;
  color: var(--black-rgba-3);
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  padding: 14px 18px;
  background-color: var(--white);
  border: 1px solid var(--black-rgba-2);
  outline: none;
  cursor: pointer;

  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}

.favorites-btn:is(:hover, :focus) {
  background-color: var(--green);
  color: var(--white);
  border-color: var(--green);
}

@media screen and (min-width: 375px) {
  .favorites-hero {
    padding-bottom: 40px;
  }

  .favorites-hero-img {
    width: 335px;
    border-radius: 17px;
  }

  .scroll-categories {
    padding-bottom: 0px;
    width: 425px;
    white-space: nowrap;
    overflow-x: auto;
  }

  .favorites-list .recipes-list .recipes-list-item {
    width: 335px;
    height: 335px;
    padding: 0;
  }

  .favorites-list .recipes-list {
    gap: 16px;
  }
  .recipes-list-wraper {
    padding: 16px;
  }
  .recipes-list-wraper .subtitle {
    margin-top: 198px;
  }
}

@media screen and (min-width: 768px) {
  .favorites-hero {
    padding-bottom: 64px;
  }

  .favorites-hero-img {
    width: 704px;
    height: 356px;
    border-radius: 17px;
  }

  .scroll-categories {
    padding-bottom: 0px;
    width: 818px;
    white-space: nowrap;
    overflow-x: auto !important;
  }

  .scroll-categories {
    padding-bottom: 0px;
    width: 818px;
    white-space: nowrap;
    overflow-x: auto !important;
  }

  .favorites-error-icon {
    margin-bottom: 32px;
    width: 97px;
    height: 83px;
  }

  .favorites-error-text {
    width: 481px;
    font-size: 16px;
  }

  .favorites-categories {
    gap: 15px;
    display: flex;
  }
  .favorites-btn {
    font-size: 16px;
    line-height: 1.25;
  }
  .favorites-list .recipes-list .recipes-list-item {
    width: 224px;
    height: 244px;
    padding: 0;
  }
  .favorites-list .recipes-list {
    gap: 16px;
  }
  .recipes-list-wraper {
    padding: 16px;
  }
  .recipes-list-wraper .subtitle {
    margin-top: 108px;
  }
}

@media screen and (min-width: 1200px) {
  .favorites-hero-img {
    width: 1080px;
    border-radius: 17px;
  }

  .scroll-categories {
    width: 1250px;
    padding-bottom: 0px;
    white-space: nowrap;
    overflow-x: auto;
  }
  .favorites-list .recipes-list .recipes-list-item {
    width: 258px;
    height: 287px;
    padding: 0;
  }

  .favorites-list .recipes-list {
    gap: 16px;
    padding: 0%;
  }
  .recipes-list-wraper .subtitle {
    margin-top: 150px;
  }
}

.scroll-categories::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5, var(--black-05);
}
