.filter-wrapper {
  display: flex;
  gap: 64px;
}

.btn-all-categories {
  width: 176px;
  height: 50px;
  border-radius: 15px;
  border: var(--black-rgba-2);
  background-color: transparent;
  color: var(--black-rgba);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 17px;
}
.recipes-sidebar-search-list {
  height: 198px;
  width: 326px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0;
}
.btn-for-filter {
  background-color: transparent;
  border: none;
  color: var(--black-rgba-2);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.btn-for-filter:hover {
  color: var(--green);
}
.btn-active {
  color: var(--green);
}


@media screen and (min-width: 767px) {
  .recipes-list {
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
  }
  .recipes-list-item {
    width: 240px;
    height: 264px;
    margin: 0;
  }
  .subtitle {
    margin-top: 143px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1279px) {
  .recipes-sidebar-search-list {
    width: 176px;
    height: 416px;
  }
}
@media screen and (min-width: 1280px) {
  .recipes-sidebar-search-list {
    width: 235px;
    height: 416px;
    margin-top: 42px;
  }
}











.filter-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 16px;
}

.search-input {
  width: 278px;
  padding: 14px 122px 14px 18px;
  border-radius: 15px;
  border: var(--black-rgba-2);
  color: var(--black-rgba);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.select-items {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.select-time {
  width: 125px;
  height: 48px;
  padding: 14px 18px;
  text-align: center;
  border-radius: 15px;
  border: var(--black-rgba-2);
  color: var(--black-rgba);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.select-country {
  width: 141px;
  height: 48px;
  padding: 14px 18px;
  text-align: center;
  border-radius: 15px;
  border: var(--black-rgba-2);
  color: var(--black-rgba);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.select-ingredient {
  width: 188px;
  height: 48px;
  padding: 14px 18px;
  text-align: center;
  border-radius: 15px;
  border: var(--black-rgba-2);
  color: var(--black-rgba);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.reset-filter-container {
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  column-gap: 4px;
  margin-top: 14px;
  text-align: center;
}

.reset-button {
  width: 16px;
  height: 16px;
  border: none;
}

.reset-label {
  color: var(--black-rgba);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  cursor: pointer;
}

.reset-button {
  background-color: inherit;
}

/* .recipes-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px 16px;
  margin-top: 14px;
  list-style: none;
} */


