.order-now-div {
  display: none;
  position: fixed;
  opacity: 1;
  top: 0;
  width: 100%;
  height: 100vh;
  /* min-height: 584px; */
  background: rgba(46, 47, 66, 0.4);
}
.order-now-modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  position: absolute;
  width: 335px;
  height: 582px;
  background-color: var(--white);
}
.btn-cross-2 {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross-2 {
  stroke: var(--black-05);
}

/** FORM **/
.form-h2 {
  margin-top: 28px;
  text-transform: uppercase;
  color: var(--black-05);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin-left: 20px;
}
.form-div {
  display: flex;
  margin: 0 20px 16px;
  flex-wrap: wrap;
}
.order-now-modal .form-div:first-child {
  margin-top: 28px;
}
.order-box {
  width: 295px;
  height: 46px;
  padding: 14px 14px 14px 18px;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid var(--black-rgba-2);
  background-color: var(--white);
  color: var(--black-05);
}
.order-text {
  margin: 0 0 8px;
  color: var(--black-rgba);
  font-weight: 500;
  line-height: 1.2;
}
.textarea-box {
  margin: 0 auto;
  resize: none;
  display: flex;
  width: 295px;
  height: 100px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid var(--black-rgba-2);
  margin-bottom: 34px;
  padding: 14px;
  background-color: var(--white);
}
.order-btn-div {
  display: flex;
  justify-content: center;
}
.order-modal-btn {
  display: flex;
  justify-content: center;
  width: 295px;
  padding: 15px 0;
  color: var(--white);
  border: none;
  border-radius: 15px;
  background: var(--green);
}
.order-modal-btn:hover {
  background-color: #abc547;
}
@media screen and (min-width: 768px) {
  .order-now-modal {
    width: 440px;
    height: 600px;
    background-color: var(--white);
  }
  .order-box {
    margin: 0 auto;
    width: 360px;
    height: 48px;
  }
  .textarea-box {
    width: 360px;
    height: 100px;
  }
  /* form.order-form input[type='email'] {
    margin: 0 40px;
  } */
  .order-modal-btn {
    width: 360px;
  }
  .order-text {
    margin: 0 20px 8px;
  }
  .form-h2 {
    margin-left: 40px;
  }
}
