/* Стилі для модального вікна */
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* color: var(-); */
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 335px;
  height: 270px;

  /* text-align: center; */
}
.main-title {
  color: var(--black);
  text-align: center;
  font-size: 25px;
}
.rating-count {
  color: var(--black);
  font-size: 40px;
  text-align: center;
}
.rating-wrapper {
  display: flex;
  justify-content: center;
}
.rating-input {
  width: 295px;

  display: block;
  margin: 10px auto 0;
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}
.rating-input:focus {
  border: 1px solid #9bb537;
  outline: transparent;
}
.button-form-rating {
  display: block;
  width: 295px;
  height: 46px;
  margin: 20px auto 0;
  border-radius: 15px;
  background: #9bb537;
  border: none;
}
/* Стилі для форми */
/* #rating-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
} */
.simple-rating {
  position: relative;
  font-size: 24px;
  display: inline-block;
}
.simple-rating::before {
  content: '★★★★★';
  display: block;
}
.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.simple-rating__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}
.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #eea10c;
}
.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #fff;
}
.simple-rating__label::before {
  content: '★';
  display: block;
  transition: color 250ms linear;
}
.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simlpe-rating__label:checked ~ .simple-rating__label:hover {
  color: #ffc14d;
}
.modal-hidden {
  display: none;
}
.modal-visible {
  display: block;
}
/* input[type='email'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type='submit'] {
  padding: 10px 20px;
  background-color: #f8d600;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #e0c300;
} */
