<section>
  <h2 class="hero-main-txt">
    Learn to Cook
    <span class="hero-txt-span-decoration">Tasty Treats</span> Customizable
    Masterclass
  </h2>
  <p>
    TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
    Video Guides.
  </p>
  <button type="button">Order now</button>
  <div class="slider js-hero-slider">
    <ul>
      <!-- <li><img src="" class="hero-photo-slider" /></li>
      <li><img src="" class="hero-photo-slider" /></li>
      <li><img src="" class="hero-photo-slider" /></li> -->
    </ul>
  </div>
  <div class="slider">
    <div class="slide">
      <!-- <img src="" alt="chief photo" /> -->
    </div>
    <div class="slide">
      <!-- <img src="" alt="dish photo" /> -->
      <h2 class="hero-main-txt-slide"></h2>
      <p class="hero-txt-slide"></p>
    </div>
    <div class="slide">
      <!-- <img src="" alt="bigger dish's photo" /> -->
    </div>
  </div>
</section>
