<section>
  <!-- <div class="container"> -->
  <h2 class="hero-main-txt">
    Learn to Cook
    <span class="hero-txt-span-decoration">tasty treats´</span>
    Customizable Masterclass
  </h2>
  <p class="hero-additional-text">
    TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
    Video Guides.
  </p>
  <button type="button" class="hero-order-btn">Order now</button>
  <div class="swiper-container">
    <div class="swiper-wrapper"></div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- </div> -->
</section>
