<section class="hero-section container">
  <div class="hero-wrapper">
    <div class="hero-div">
      <h1 class="hero-main-txt">
        Learn to Cook
        <span class="hero-txt-span-decoration">tasty treats´</span>
        Customizable Masterclass
      </h1>
      <p class="hero-additional-text">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button type="button" class="hero-order-btn">Order now</button>
    </div>
    <div class="js-swiper-container slick-slider"></div>
  </div>
</section>
