<!-- *MODAL* -->
<div class="order-now-div">
  <div class="order-now-modal">
    <button class="btn-cross-2 js-cross-order" type="button" data-modal-open>
      <svg class="cross-2" width="20" height="20">
        <use href="./images/sprite.svg#cross-2"></use>
      </svg>
    </button>
    <h2 class="form-h2 text">order now</h2>
    <div class="form-first-div">
      <form class="order-form">
        <div class="form-div">
          <label class="order-text text" for="name">Name:</label>
          <input class="order-box" type="text" name="name" required />
        </div>
        <div class="form-div">
          <label class="order-text text" for="phone">Phone number:</label>
          <input class="order-box" type="tel" name="phone" required />
        </div>
        <div class="form-div">
          <label class="order-text text" for="email">Email: </label>
          <input class="order-box" type="email" name="email" required />
        </div>
        <div class="form-div">
          <label class="order-text text" for="comment">Comment:</label>
          <textarea
            class="textarea-box"
            name="comment"
            rows="8"
            required
          ></textarea>
        </div>
        <div class="order-btn-div">
          <button class="order-modal-btn js-submit-order" type="submit">
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
