<div class="modal modal-hidden">
  <div class="modal-content">
    <h2 class="main-title">Give a Rating</h2>
    <h2 class="idTitle"></h2>
    <div class="rating-count">0.0</div>
    <form id="rating-form">
      <div class="rating-wrapper">
        <div class="simple-rating">
          <div class="simple-rating__items">
            <input
              class="simple-rating__item"
              type="radio"
              id="star5"
              name="rating"
              value="5"
            />
            <label class="simple-rating__label" for="star5"></label>

            <input
              class="simple-rating__item"
              type="radio"
              id="star4"
              name="rating"
              value="4"
            />
            <label class="simple-rating__label" for="star4"></label>

            <input
              class="simple-rating__item"
              type="radio"
              id="star3"
              name="rating"
              value="3"
            />
            <label class="simple-rating__label" for="star3"></label>

            <input
              class="simple-rating__item"
              type="radio"
              id="star2"
              name="rating"
              value="2"
            />
            <label class="simple-rating__label" for="star2"></label>

            <input
              class="simple-rating__item"
              type="radio"
              id="star1"
              name="rating"
              value="1"
            />
            <label class="simple-rating__label" for="star1"></label>
          </div>
        </div>
      </div>

      <input
        class="rating-input"
        type="email"
        id="email"
        name="email"
        placeholder="Введіть email"
        required
      />
      <button class="button-form-rating" type="submit">Send</button>
    </form>
  </div>
</div>
