<div class="container">
  <div class="recipes-sidebar-popular">
    <h2 class="recipes-sidebar-popular-title">Popular recipes</h2>
    <ul class="recipes-sidebar-popular-list list">
      <!-- `<li class="recipes-sidebar-popular-item">
      <img class="recipes-sidebar-popular-item-img" src="${recipe.preview}" alt="${recipe.title}" width="64" height="64">
      <div class="recipes-sidebar-popular-item-descr">
        <h3 class="subtitle">${recipe.title}</h3>
        <p class="recipes-sidebar-popular-item-descr-text">${recipe.description}</p>
      </div>
    </li>` -->
    </ul>
  </div>
</div>
